* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    outline: 0px;
    box-sizing: border-box;
}

.modalConfig {
    position: absolute;
    box-sizing: border-box;
    height: calc(100vh - 230px);
    width: calc(100vw - 600px);
    box-sizing: border-box;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px #00000033;
    left: 300px;
    top: 110px;
    border: none;
    border-radius: 50px;
}

.btnAdminConfig {
    cursor: pointer;
}

.modal-title {
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    background-color: #d6d6d6;
    padding: 15px;
}

.block_1 {
    display: grid;
    grid-template-columns: 2fr 2fr 1fr 1fr;
    gap: 10px;
}

.block_2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.block_3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.block_4 {
    display: grid;
    margin: 10px;
    font-size: 0.8rem;
}

.divMensagem input {
    box-sizing: border-box;
    padding: 5px;
    margin-top: 5px;
    width: 100%;
    font-size: 0.7rem;
}

.block_5 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1.5fr;
    gap: 10px;
}

#nome_sistema {
    padding: 5px;
    width: 100%;
    font-size: 0.7rem;
}

.labelNome {
    margin-bottom: 5px;
    width: 100%;
    font-size: 0.8rem;
}

.divNome {
    margin: 10px;
}

#email_sistema {
    padding: 5px;
    width: 100%;
    font-size: 0.7rem;
}

.divEmail {
    margin: 10px;
}

.labelEmail {
    width: 100%;
    margin-bottom: 5px;
    font-size: 0.8rem;
}


#telefone_sistema {
    padding: 5px;
    width: 100%;
    font-size: 0.7rem;
}

.labelTelefone {
    width: 100%;
    margin-bottom: 5px;
    font-size: 0.8rem;
}

.divTelefone {
    margin: 10px;
}


.form-control {
    padding: 5px;
    width: 100%;
    font-size: 0.7rem;
}

.labelRelatorio {
    width: 100%;
    margin-bottom: 5px;
    font-size: 0.8rem;
}

.divRelatorio {
    margin: 10px;
}

.divDiasBlo {
    margin: 10px;
}

.divTestarsis {
    margin: 10px;
}

.divDiasTeste {
    margin: 10px;
}

.divToken {
    margin: 10px;
}


.labelDiasBlo {
    margin-bottom: 5px;
    font-size: 0.8rem;
}

#dias_bloqueio {
    padding: 5px;
    font-size: 0.7rem;
    width: 100%;
    margin-bottom: 5px;
}

.labelTestarsis {
    margin-bottom: 5px;
    font-size: 0.8rem;
}

.divTestarsis select {

    padding: 5px;
    font-size: 0.7rem;
    width: 100%;
    margin-bottom: 5px;
}

.labelDiasTeste {
    font-size: 0.8rem;
    margin-bottom: 5px;
}

#dias_teste {
    padding: 5px;
    font-size: 0.7rem;
    width: 100%;
    margin-bottom: 5px;
}

.labelToken {
    margin-bottom: 5px;
    font-size: 0.8rem;
}

#token {
    padding: 5px;
    font-size: 0.7rem;
    width: 100%;
    margin-bottom: 5px;
}

.divLogo label {
    margin: 10px;
}

.divLogo input {
    margin-left: 10px;
    margin-top: 5px;
}

.divIcone label {
    margin: 10px;
}

.divIcone input {
    margin-left: 10px;
    margin-top: 5px;
}

.divLogoRel label {
    margin: 10px;
}

.divLogoRel input {
    margin-left: 10px;
    margin-top: 5px;
}

.divLogoImg {

    margin: 10px;
    border-radius: 20px;
    text-align: center;
}

.divIconeImg {
    margin: 10px;
    border-radius: 20px;
    text-align: center;
}

.divLogoRelImg {
    margin: 10px;
    border-radius: 20px;
    text-align: center;
}

.divSalvarConfig {
    display: block;
    width: 100%;
    text-align: center;
}

.divSalvarConfig button {
    padding: 10px;
    width: 200px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    background-color: #0401b6;
    color: white;
    margin-top: 15px;
}

.divSalvarConfig button:hover {
    background-color: #eba2f8;
    transition: 0.3s;
    color: #000000;
}
.imgFechar{
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 50px;
}