.modalConfig {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    width: 90vw;
    height: 540px;
    font-size: 0.9rem;
    border-radius: 20px;
    z-index: 2;
    overflow: auto;
    background-image: linear-gradient(#8015fb, #c28efe);


    transition: 0.9s; 
    height: 0; /* esconder backgroud */
    visibility: hidden; /* esconde menu*/
    overflow-y: hidden; /* eixo y esconde */
}

.modalConfig.show {
    transition: 0.9s;
    height: 540px;
    visibility: visible; /* aparece menu*/
    overflow-y: auto; /* auto cria a barra de scroll se utrapassar a tela*/
}

.modalConfig label {
    color: white;
    margin-bottom: 5px;
    width: 100%;
}

.modalConfig input {
    border-radius: 10px;
    border: none;
}

.btnAdminConfig {
    cursor: pointer;
}

.modal-title {
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    padding: 15px;
    font-size: 1.5rem;
    background-color: #6a04dd;
}

.modal-title legend {
    color: white;
}




.block_1 {
    display: grid;
    grid-template-columns: 2fr 2fr 1fr 1fr;
    gap: 10px;
}

.block_2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.block_3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.block_4 {
    display: grid;
    margin: 10px;
}

.divMensagem input {
    box-sizing: border-box;
    padding: 5px;
    margin-top: 5px;
    width: 100%;
}

.block_5 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1.5fr;
    gap: 10px;
}




.divNome,
.divEmail,
.divTelefone,
.divRelatorio {
    margin: 10px;
}

#nome_sistema {
    padding: 5px 20px 5px 20px;
    width: 100%;
    margin-top: 5px;
}

#email_sistema {
    padding: 5px 20px 5px 20px;
    width: 100%;
    margin-top: 5px;
}

#telefone_sistema {
    padding: 5px 20px 5px 20px;
    width: 100%;
    margin-top: 5px;
}

.form-control {
    padding: 5px 20px 2.5px 20px;
    width: 100%;
    margin-top: 5px;
    border-radius: 10px;
}



.divDiasBlo,
.divTestarsis,
.divDiasTeste,
.divToken {
    margin: 10px;
}

.labelDiasBlo,
.labelTestarsis,
.labelDiasTeste,
.labelToken {
    margin-bottom: 5px;
}

#dias_bloqueio {
    padding: 5px 20px 5px 20px;
    width: 100%;
}

.divTestarsis select {

    padding: 5px 20px 2.5px 20px;
    width: 100%;
    border-radius: 10px;
}

#dias_teste {
    padding: 5px 20px 5px 20px;
    width: 100%;
}

#token {
    padding: 5px 20px 5px 20px;
    width: 100%;
}


.divLogo,
.divIcone,
.divLogoRel {
    margin-top: 5px;
}

.divLogo label,
.divIcone label,
.divLogoRel label {
    margin-left: 10px;
}

.divLogo input,
.divIcone input,
.divLogoRel input {
    margin-left: 10px;
    margin-top: 5px;
    margin-right: 10px;
}




.divLogoImg,
.divIconeImg,
.divLogoRelImg {
    margin: 10px;
    padding-left: 50px;
    text-align: left;
}


.divSalvarConfig {
    background-color: #6a04dd;
    width: 100%;
    padding: 30px;
    margin-top: 20px;
}

.divSalvarConfig button {
    padding: 10px;
    width: 200px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    background-color: #0401b6;
    color: white;
}

.divSalvarConfig button:hover {
    background-color: #eba2f8;
    transition: 0.3s;
    color: #000000;
}

#btnSalvarConfig {
    width: 100%;
    text-align: center;
}

.imgFechar {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 50px;
}



#foto-logo {
    box-sizing: border-box;
    font-size: 0.8rem;
    width: 200px;
    padding: 5px;
    border-radius: 10px;
    background-color: #c87fff;
}

#foto-icone {
    box-sizing: border-box;
    font-size: 0.8rem;
    width: 200px;
    padding: 5px;
    background-color: #c87fff;
}

#foto-logo-rel {
    box-sizing: border-box;
    font-size: 0.8rem;
    width: 200px;
    padding: 5px;
    background-color: #c87fff;
}

#foto-logo:hover {
    background-color: #ff8af5;
}

#foto-icone:hover {
    background-color: #ff8af5;
}

#foto-logo-rel:hover {
    background-color: #ff8af5;
}



@media(max-width: 1000px) {

    .modalConfig {
        font-size: 0.7rem;
    }

}

@media(max-width: 807px) {

    .modalConfig {
        font-size: 0.6rem;
    }

}

@media(max-width: 760px) {
    .modalConfig {
        font-size: 1rem;
        overflow: auto;
        height: 85vh;
        width: 90vw;

        transition: 0.9s; 
        height: 0; /* esconder backgroud */
        visibility: hidden; /* esconde menu*/
        overflow-y: hidden; /* eixo y esconde */

    }

    .modalConfig.show {
        transition: 0.9s;
        visibility: visible; /* aparece menu*/
        overflow-y: auto; /* auto cria a barra de scroll se utrapassar a tela*/
        height: 85vh;
    }

    .modal-title {
        font-size: 1.3rem;
    }


    .block_1,
    .block_2,
    .block_3,
    .block_4,
    .block_5 {
        grid-template-columns: 1fr;
    }


    #foto-logo {
        width: 75%;
        margin-bottom: 100px;
        font-size: 1rem;
    }

    #foto-icone {
        width: 75%;
        margin-bottom: 100px;
        font-size: 1rem;
    }

    #foto-logo-rel {
        width: 75%;
        margin-bottom: 100px;
        font-size: 1rem;
    }

    .divLogoImg {
        margin: 0;
        padding: 0;
        position: absolute;
        top: 810px;
        left: 50px;
    }

    .divIconeImg {
        margin: 0;
        padding: 0;
        position: absolute;
        top: 985px;
        left: 50px;

    }

    .divLogoRelImg {

        margin: 0;
        padding: 0;
        position: absolute;
        top: 1160px;
        left: 50px;
    }
}

@media(max-width: 500px) {
    .modalConfig {
        display: grid;
        grid-template-columns: 1fr;
        margin: 0;
        padding: 0;
        overflow: auto;
        height: 100vh;
        width: 100vw;
        border-radius: 0px;

        transition: 0.9s; 
        height: 0; /* esconder backgroud */
        visibility: hidden; /* esconde menu*/
        overflow-y: hidden; /* eixo y esconde */
    }
    .modalConfig.show {
        transition: 0.9s;
        visibility: visible; /* aparece menu*/
        overflow-y: auto; /* auto cria a barra de scroll se utrapassar a tela*/
        height: 100vh;
    }

    .modal-title {
        padding-top: 100px;
        font-size: 0.9rem;
    }

    .imgFechar {
        top: 50px;
        right: 0;
        left: 45%;
    }

    .divSalvarConfig {
        padding: 15px 0px 50px 0px;
    }

    .divLogoImg {

        top: 890px;

    }

    .divIconeImg {

        top: 1060px;
    }

    .divLogoRelImg {


        top: 1235px;

    }
}